* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --wood: #533827;
  --metal: #4d4d4d;
  --metal-dark: #292929;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

/* SWITCH */
input {
  display: none;
}

.switch {
  position: absolute;
  top: 50%;
  left: 300px;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 200px;
  border-radius: 7px;
  background-color: var(--wood);
}

/* SWITCH LEVER - thing that flips */
.switch-lever {
  position: absolute;
  bottom: 30px;
  left: 20px;
  right: 20px;
  height: 200px;
  border: 5px solid var(--metal);
  border-width: 12px 6px 2px 6px;
  border-radius: 2px;
  filter: brightness(1);
  transform-origin: bottom;
  transform: rotateX(180deg);
  transition: transform 2s ease;
}

:checked+.switch {
  transition: transform 2s ease, filter .2s ease 1.8s;
  filter: brightness(1.3);
}

:checked+.switch>.switch-lever {
  transform: none;
}

.switch-lever:before {
  content: '';
  position: absolute;
  top: -60px;
  left: 50px;
  right: 50px;
  height: 60px;
  background-color: var(--metal);
}

.switch-lever:after {
  content: '';
  position: absolute;
  top: -115px;
  left: 33px;
  height: 0;
  width: 20px;
  border-top: 90px solid var(--wood);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 6px solid var(--wood);
  border-radius: 100%;
}

/* SWITCH CONTACTS for electrical flow */
.switch-contact:before,
.switch-contact:after {
  content: '';
  position: absolute;
  bottom: 22px;
  height: 14px;
  width: 10px;
  background-color: var(--metal);
}

.switch-contact:nth-of-type(2):before,
.switch-contact:nth-of-type(2):after,
.switch-contact:nth-of-type(3):before,
.switch-contact:nth-of-type(3):after {
  bottom: 80px;
  width: 6px;
  border: 2px solid var(--metal-dark);
  border-width: 0 2px;
}

.switch-contact:nth-of-type(3):before,
.switch-contact:nth-of-type(3):after {
  bottom: 140px;
}

.switch-contact:before {
  left: 18px;
}

.switch-contact:after {
  right: 18px;
}

/* DARK BACKGROUND */
.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
  background: radial-gradient(circle at center, #00111e 40%, #000305 100%);
  background-color: #00111e;
}

.background:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at 700px 340px, #005494 0%, #003d6b 100%);
  opacity: 0;
  transition: opacity .4s ease;
}

:checked~.background:after {
  opacity: 1;
  transition-delay: 1.8s;
}

/* LAMP */
.lamp {
  position: absolute;
  left: 700px;
  top: 0;
  width: 2px;
  height: 260px;
  background-color: #000;
}

.lamp:before {
  content: '';
  position: absolute;
  left: -5px;
  top: 100%;
  border-bottom: 15px solid #000000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  width: 5px;
}

.lamp:after {
  content: '';
  position: absolute;
  top: calc(100% + 14px);
  left: -62px;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  box-shadow: none;
  background-color: #ffffff22;
  transition: all 0s;
}

:checked~.lamp:after {
  background-color: #ffffff;
  box-shadow: 0px 0px 40px 0px #fff,
    0px 0px 120px 0px #fff,
    0px 0px 300px 0px #fffc;
  transition-delay: 1.8s;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

/*.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
